<script src="/lib/jquery/jquery.min.js"></script>
<!-- @@remove_ -->
<!--<script src="/lib/knockout/knockout-2.2.1.debug.js"></script>-->
<!--<script src="/lib/knockout/knockout-min.js"></script>-->
<!-- @@_end_remove -->
<script src="/lib/knockout/knockout-min.js" type="text/javascript" charset="utf-8"></script>
<script src="/lib/underscore/underscore-min.js" type="text/javascript" charset="utf-8"></script>
<!--<script src="/lib/knockout/knockout.mapping-latest.debug.js"></script>-->
<script src="/lib/knockout/knockout.mapping-latest.js" type="text/javascript" charset="utf-8"></script>
<!--<script src="/lib/knockout/knockout.validation.min.js" type="text/javascript" charset="utf-8"></script>-->
<script src="/lib/bootstrap/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<!--<script src="/lib/knockout/knockout-bootstrap.min.js" type="text/javascript" charset="utf-8"></script>-->
<script src="/lib/async/async.js" type="text/javascript" charset="utf-8"></script>
<script src="/lib/markdown/markdown.js" type="text/javascript" charset="utf-8"></script>
<script src="/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/lib/ace/mode-html.js" type="text/javascript" charset="utf-8"></script>
<script src="/lib/ace/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
<script src="/lib/ace/mode-css.js" type="text/javascript" charset="utf-8"></script>
<script src="/lib/ace/mode-markdown.js" type="text/javascript" charset="utf-8"></script>
<script src="/lib/ace/mode-json.js" type="text/javascript" charset="utf-8"></script>
<script src="/lib/sockjs/sockjs-0.3.min.js"></script>
<!-- @@remove_ -->
<!--<script src="/channel/bcsocket.js"></script>-->
<!--<script src="/socket.io/socket.io.js"></script>-->
<!-- @@_end_remove -->
<script src="/lib/share/share.js"></script>
<script src="/lib/share/json.js"></script>
<script src="/lib/share/ace.js"></script>
